<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="centerPos">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %>, this application is used to extract files and implement static analysis to find potential vulnerabilities in the Hybrid Android Application</p>
      <label>Please upload an .apk file: </label>
      <input type="file" id="file" name="file" multiple /><br />
    </div>
    <div id="result_block" class="hidden">
      <h3>Content :</h3>
      <div id="result"></div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/dist/jszip.min.js"></script>
  <script type="text/javascript" src="/javascripts/readData.js"></script>

</html>
